/******* HEADER ***************/
#header{
  height: 166px;
  /*background-image: url("../imagenes/cabezera.png");*/
  background-image:background: -moz-linear-gradient(127deg, rgba(242,146,46,0.5) 0%, rgba(56,65,103,0.89) 50%, rgba(56,65,103,0.92) 64%, rgba(252,197,38,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(252,197,38,1)), color-stop(36%, rgba(56,65,103,0.92)), color-stop(50%, rgba(56,65,103,0.89)), color-stop(100%, rgba(242,146,46,0.5))); /* safari4+,chrome */
    background: -webkit-linear-gradient(127deg, rgba(242,146,46,0.5) 0%, rgba(56,65,103,0.89) 50%, rgba(56,65,103,0.92) 64%, rgba(252,197,38,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(127deg, rgba(242,146,46,0.5) 0%, rgba(56,65,103,0.89) 50%, rgba(56,65,103,0.92) 64%, rgba(252,197,38,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(127deg, rgba(242,146,46,0.5) 0%, rgba(56,65,103,0.89) 50%, rgba(56,65,103,0.92) 64%, rgba(252,197,38,1) 100%); /* ie10+ */
    background: linear-gradient(323deg, rgba(242,146,46,0.5) 0%, rgba(56,65,103,0.89) 50%, rgba(56,65,103,0.92) 64%, rgba(252,197,38,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc526', endColorstr='#f2922e',GradientType=0 ); /* ie6-9 */  ;
  background-repeat: no-repeat;
  /*background-size: 75%;*/
  border-radius: 0.25rem; /*border completo*/
}

/*  @media(min-width: 900px){
      #header{

      height: 158px;
      }
    }

    @media(max-width: 1000px){
      #header{
      background-size: 1000px;
      height: 148px;
        }
      }

    @media(min-width: 1199.98px){
      #header{
      }
    }

    @media(min-width: 1650px){ 
      #header{
      }
    }*/

html,body{
  height: 100%;
}

body{
  margin: 0px;
  padding: 0px; 
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #545454;
}

    @media(max-width: 500px){
    body{
      background: #cfd8dc;
      text-align:center;
       }
    }

/******** WRAPPER ***********/
#wrapper{
  overflow: hidden;
  margin: 20px 200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem;
}
    @media(max-width: 700px){
      #wrapper{
        margin: 10px 10px;
      }
    }
    @media(min-width: 1199.98px){
      #wrapper{
        margin: 20px 60px;
      }
    }
    @media(min-width: 1650px){ /*pantallas de 1300 x 720*/
      #wrapper{
        margin: 20px 150px;
      }
    }
    @media(min-width: 700px) and (max-width: 1199.98px){ /* Large devices (desktops, 700px and up)*/
      #wrapper{
        margin: 20px 50px;
      }
    }

/****** Logo **************/
.logo{
  border-radius: 0.25rem;
  margin:10px 40px;
}



/*.sustituida-modificada {
        box-sizing:border-box;
        display:block;
        width:115px;
        height:115px;
        padding-left:115px;
        background: url(img/logo-campusmvp-fondo-blanco.png);
        overflow:hidden;
    }*/
/****** imagen **************/
.SIPS_imagen{
  width:200px; float: right; margin:50px 10px 0 0;
}
  @media(max-width: 1000px){
    .SIPS_imagen{
      display: none;
      /*margin-top:-5000px;*/
      overflow:hidden;
      } 
    }

/****** Footer *************/
#footer{
  overflow: hidden;
  margin: 0px 50px;
  padding: 30px 0px;
  /*border-top: 8px solid #a9ba0080;*/
  border-top: 8px solid #054fd166;
  text-align: center;
  font-size: 12px;
}

/***********************************************************************/
/*input[type="text"], input[type="password"],select{*/
#Login, #Password {
  display: inline;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: bold;
  box-shadow: none;
  border: solid 1px #dcdcdc;
  border-radius: .25rem !important;
  transition: box-shadow 0.3s, border 0.3s;
  flex: 0 0 25%;
  width:40%;
  max-width: 30%;
  position: relative;
  padding: 1rem !important
}


    @media(max-width: 700px){
    /*input[type="text"], input[type="password"]{*/
      #Login, #Password{
      max-width: 80%;
      width: 100%;
      }
    }


input[type="text"]:focus,
input[type="text"].focus, input[type="password"]:focus,
input[type="password"].focus, select:focus, select.focus{
border: solid 1px #007bff;
/*box-shadow: 0 0 4px 1px #969696;*/
box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
}

/********************************** Body ******************************************/
h4{
  border-bottom: 2px solid #171e6c;
  width: 80%;
  padding-bottom: 20px;
}

h6{
  background-color:#171e6c;
  width: 80%;
  padding: 3px;
}

.contenido{
  width:80%;
}


.texto{
  color: blue;
}

#nombre{
   margin-top: -15px;
   color: #212529;
}
/********************************** Barra de progreso ******************************************/
#progreso{
  margin-Right:33.333333%;
  margin-Left: 33.333333%;
}

    @media(max-width: 500px){
      #progreso{
        margin-Right: 15%;
         margin-Left: 15%;
        } 
      }


/********************************** NAVBAR ******************************************/
#nav_SIPS{
    background: -moz-linear-gradient(271deg, rgba(89,91,149,0.35) 0%, rgba(89,91,149,0.38) 5%, rgba(128, 122, 22, 0.4) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(89,91,149,0.35)), color-stop(5%, rgba(89,91,149,0.38)), color-stop(100%, rgba(128, 122, 22, 0.4))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(89,91,149,0.35) 0%, rgba(89,91,149,0.38) 5%, rgba(128, 122, 22, 0.4) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(89,91,149,0.35) 0%, rgba(89,91,149,0.38) 5%, rgba(128, 122, 22, 0.4) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(89,91,149,0.35) 0%, rgba(89,91,149,0.38) 5%, rgba(128, 122, 22, 0.4) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(89,91,149,0.35) 0%, rgba(89,91,149,0.38) 5%, rgba(128, 122, 22, 0.4) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595b95', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */ 
}

.dropbtn {
   /* background-color: #4CAF50;
    color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    /*font: bold 80% monospace;*/
    font-size: 11pt;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #dedee9;}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/




/********************************** TABLAS ******************************************/
